* {
  font-family: 'Inter', sans-serif;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}


@media screen and (min-width: 768px) {
  main {
    h1 {
      font-size: 5rem;
    }
  }
}

